{% extends 'base.html' %}
{% block content %}

<div class="border-2 border-black bg-retroBg p-6 w-[420px]">

  <h2 class="text-2xl mb-6 text-center">Nueva reseña</h2>

  <form method="post" class="space-y-5">
    {% csrf_token %}

    <div class="grid grid-cols-2 items-center gap-3">
      <label>¿Qué?</label>
      {{ form.nombre }}
    </div>

    <div class="grid grid-cols-2 items-center gap-3">
      <label>Categoría:</label>
      {{ form.categoria }}
    </div>

    <div class="grid grid-cols-2 items-center gap-3">
      <label>Puntaje:</label>
      {{ form.puntaje }}
    </div>

    <div class="grid grid-cols-2 items-start gap-3">
      <label>Comentario:</label>
      {{ form.comentario }}
    </div>

    <button class="border-2 border-black bg-retroNav w-full py-2">
      Publicar
    </button>
  </form>

</div>
{% endblock %}
